<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Tab not Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<a href="">
<ion-button > Go to google </ion-button>
</a>

<ion-item lines="none" *ngFor="let item of progLang">
  <ion-list lines="none"> {{item}} </ion-list>
</ion-item>


<ion-item-group>
  <ion-item-divider color="primary">My color light list</ion-item-divider>
  <ion-item>
  <ion-icon name="leaf" item-start>  </ion-icon>
    Angola
</ion-item>

  <ion-item>Argentina</ion-item>
</ion-item-group>

<!-- Reactive forms -->
<form [formGroup]="loginForm" class="formgroup" (ngSubmit)="onLogin()">
  <ion-item>
    <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button  type="submit" [disabled]="loginForm.invalid">Submit</ion-button>
</form>
<!-- it works properly -->
<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
</ion-item>




  <ion-content></ion-content>






